@model IdentityServer.Models.Competence


<h2>Details</h2>

<div>
    <h4>Competence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dificulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dificulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RessourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RessourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idRessource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRessource)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCompetence }) |
    @Html.ActionLink("Back to List", "Index")
</p>
