<html>

<head>

</head>
<body>
    <h2>General View</h2>
    <div class="form-panel">
        <div class="steps pn">
            <label for="op1" class="pull-left">Users  number:  @ViewBag.nbUsers</label>
            <label for="op2" class="pull-left">Resources  number: @ViewBag.nombreResource</label>
            <label for="op2" class="pull-left">Projects  number: @ViewBag.nbprojects</label>
            <label for="op2" class="pull-left">Available Resources  number: @ViewBag.resAv/@ViewBag.nombreResource</label>
            <label for="op2" class="pull-left">Clients number: @ViewBag.clients</label>
        </div>

    </div>




</body>


</html>