@model Domain.Entity.Application

@{
    ViewBag.Title = "Send Application";
}

<h2>Send Application To The Administrator</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Application</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <table width="100%">
                <td>
                    @*@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    Meeting Date
                </td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </td>

            </table>
        </div>

        <div class="form-group">
            <table width="100%">
                <td>
                    @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    Who Are You ?
                </td>
                <td>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </td>
        </div>
        <table width="100%">
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Send" class="btn btn-success" />
                    </div>
                </div>
            </td>
    </div>
}
<table width="100%">
    
    <td>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        </td>
    
